h1,
p {
  font-family: Lato;
}

body {
  padding: 20px;
}
.nota,
.importante {
  display: block;
  font-size: 15px;
  padding: 20px;
  margin: 20px auto;
}
.importante {
  background-color: #b7b166;
}
.nota {
  background-color: #f8c5bc;
}

.importante button {
  background-color: #fff;
  padding: 8px;
  border-radius: 10px;
  width: 100px;
  border: 1px solid black;
  cursor: pointer;
}

nav ul {
  display: block;
  padding: 10px 20px;
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding-right: 20px;
  padding-bottom: 10px;
}
